*{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(49, 49, 49);
}

/* 简历内容 */
#container{
    width: 794px;
    height: 1123px;
    margin: 0 auto;
    background: white;
}

header, footer{
    padding: 15px 0;
}
/* 个人信息 */
.info{
    display: flex;
}
.info-text{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.info-item{
    padding: 2px;
    width: 100%;
}
.avatar{
    margin-left: auto;
    padding: 0 20px;
    width: 80px;
    height: 120px;
    position: relative;
}
.avatar img{
    /* position: absolute; */
    width: 80px;
    height: 120px;
    background: rgb(221, 221, 221);
    /* border: 1px dashed gray; */
}

.avatar input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

/* 工作内容、项目经历 */
.ele {
     height: 40px;
     border: 1px solid #999;
     background: cadetblue;
     margin-top: 2px;
     border-radius: 10px;
     padding-left: 10px;
     color: white;
     cursor: move;
}
/* 个人总结 */
.last-item{
    flex: 1;
 }